In [43]:
import  numpy as np1
import pandas as pd

In [44]:
import string
from nltk.tokenize import RegexpTokenizer
from nltk.corpus import stopwords
import re
from nltk.stem import PorterStemmer

In [45]:
import statsmodels.api as sm
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from nltk.sentiment.util import *
from nltk.util import ngrams
from collections import Counter
from gensim.models import word2vec

In [46]:
data = pd.read_csv('train_file.csv')
test = pd.read_csv('test_file.csv')

In [47]:
data["MaterialType"] = data['MaterialType'].str.replace('[^\w\s]','')

In [48]:
data.drop(['UsageClass','CheckoutType','CheckoutYear','CheckoutMonth','ID'],inplace=True,axis=1)
test.drop(['UsageClass','CheckoutType','CheckoutYear','CheckoutMonth'],inplace=True,axis=1)

In [49]:
y = data["MaterialType"]

In [50]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [51]:
data = data.apply(lambda x: x.astype(str).str.lower())
test = test.apply(lambda x: x.astype(str).str.lower())

In [52]:
data["Title"] = data['Title'].str.replace('[^\w\s]','')
test["Title"] = test['Title'].str.replace('[^\w\s]','')
data["Creator"] = data['Creator'].str.replace('[^\w\s]','')
data["Subjects"] = data['Subjects'].str.replace('[^\w\s]','')
##data["Subjects"] = data['Subjects'].str.replace('[0-9]','')
data["Publisher"] = data['Publisher'].str.replace('[^\w\s]','')
data["PublicationYear"] = data['PublicationYear'].str.replace('[^\w\s]','')
data["PublicationYear"] = data['PublicationYear'].str.replace('[cp]','')
data["Creator"] = data['Creator'].str.replace('[0-9]','')
test["Subjects"] = test['Subjects'].str.replace('[^\w\s]','')
##test["Subjects"] = test['Subjects'].str.replace('[0-9]','')

In [53]:
data.head()

,Checkouts,Title,Creator,Subjects,Publisher,PublicationYear,MaterialType
0,1,tidal wave,nan,tsunamis tsunamis juvenile literature,nan,nan,book
1,1,london holiday richard peck,peck richard,nan,viking,1998,book
2,3,cinco de mayo celebrating hispanic pride car...,gnojewski carol,cinco de mayo mexican holiday history juvenile...,enslow publishers,2002,book
3,1,annapolis,nan,war stories historical fiction domestic fictio...,nan,nan,book
4,1,as a man thinketh,nan,thought and thinking,nan,nan,book

In [54]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [55]:
data.tail(50)

,Checkouts,Title,Creator,Subjects,Publisher,PublicationYear,MaterialType
31603,6,priscilla and the pink planet,nan,stories in rhyme pink fiction,nan,nan,book
31604,1,hurricane bay,nan,romantic suspense fiction large type books man...,nan,nan,book
31605,1,barashek kotoryi poterialsia,nan,russian language materials sheep fiction,nan,nan,book
31606,5,shangriladeeda sound recording stone temple p...,stone temple pilots musical group,rock music 2001 2010,atlantic,2001,sounddisc
31607,1,perfect wedding cake,nan,wedding cakes cake decorating,nan,nan,book
31608,1,the little black hen antony pogorelsky illus...,james elizabeth,chickens folklore folklore russia federation j...,simply read books,2003,book
31609,2,yellow stories,nan,asian americans fiction california social life...,nan,nan,book
31610,2,journey,nan,science fiction metamorphosis juvenile fiction,nan,nan,book
31611,2,cezanne three colours cezanne,nan,nan,nan,nan,videodisc
31612,1,make yourself a monster a book of creepy crafts,nan,handicraft handicraft juvenile literature mons...,nan,nan,book
31613,4,unlucky in law,nan,legal stories mystery fiction women lawyers fi...,nan,nan,book
31614,1,outlaw culture resisting representations,nan,african americans intellectual life united sta...,nan,nan,book
31615,1,urban etiquette marvelous manners for the mode...,nan,etiquette,nan,nan,book
31616,1,upholstery basics,nan,upholstery upholstered furniture,cowles creative publ,1997,book
31617,1,athletes guide to sponsorship how to find an i...,nan,sports sponsorship sports marketing,nan,nan,book
31618,1,orchid biology reviews and perspectives,nan,orchids orchid culture,nan,nan,book
31619,6,how the west was won,nan,western films video recordings for the hearing...,nan,nan,videodisc
31620,1,t rex and deadly dinosaurs,nan,prehistoric animals dinosaurs dinosaurs juveni...,nan,nan,book
31621,3,jungle fever,nan,video recordings for the hearing impaired feat...,nan,nan,videocass
31622,1,build amazing animals from bricks you have at ...,nan,lego toys juvenile literature,nan,nan,book
31623,1,collected stories gabriel garcía márquez tra...,garcía márquez gabriel,garca m rquez gabriel 1928 translations into e...,harpercollins publishers,1999,book
31624,1,hallelujah the welcome table a lifetime of mem...,nan,cookery american angelou maya anecdotes,nan,nan,soundcass
31625,3,the fabulous sylvester the legend the music t...,gamson joshua,sylvester 1947 1988 singers united states biog...,h holt,2005,book
31626,10,the art of mending a novel elizabeth berg,berg elizabeth,brothers and sisters fiction repression psycho...,random house,2004,book
31627,1,spies a narrative encyclopedia of dirty deeds ...,nan,spies biography espionage encyclopedias intell...,nan,nan,book
31628,1,the sonnets william shakespeare illustrated ...,shakespeare william,sonnets english,little brown,1998,book
31629,23,melancholy baby robert b parker,parker robert b,randall sunny fictitious character fiction wom...,putnam,2004,book
31630,1,adam draws himself a dragon,nan,schools fiction dragons fiction self actualiza...,nan,nan,book
31631,1,test your punctuation,nan,english language punctuation juvenile literature,nan,nan,book
31632,1,return to the battle of normandy june 1944 an ...,nan,levy marvin diaries world war 1939 1945 campai...,nan,nan,videocass
31633,1,are study guide multiple choice divisions,nan,architecture united states examinations study ...,nan,nan,book
31634,1,third watch,nan,christian fiction biographical fiction jesus c...,nan,nan,book
31635,1,weigh dead an iris house bb mystery,nan,large type books mystery fiction missouri fict...,nan,nan,book
31636,1,israel arab reader a documentary history of th...,nan,arab israeli conflict sources,nan,nan,book
31637,1,the criminal justice system in washington stat...,aos steven,criminal justice administration of washington ...,washington state institute for public policy,2003,book
31638,7,cover girl,nan,video recordings for the hearing impaired feat...,nan,nan,videodisc
31639,1,so youve got a great idea,nan,new business enterprises,nan,nan,soundcass
31640,3,lionel at school by stephen krensky pictures...,krensky stephen,schools fiction,dial books for young readers,2000,book
31641,2,fall of fergal or not so dingly in the dell,nan,humorous stories brothers and sisters fiction ...,nan,nan,book
31642,1,sabbaths theater,nan,nan,nan,nan,book
31643,4,living dead in dallas charlaine harris,harris charlaine,stackhouse sookie fictitious character fiction...,ace books berkley pub group,2002,book
31644,3,witchs hand,nan,witches fiction,nan,nan,book
31645,1,flower of sheba,nan,solomon king of israel jews folklore solomon k...,nan,nan,book
31646,6,licence to kill,nan,video recordings for the hearing impaired jame...,nan,nan,videocass
31647,1,naturally healthy hair herbal treatments and d...,nan,medicine ayurvedic hair preparations hair care...,nan,nan,book
31648,2,california camping,nan,california guidebooks camp sites facilities et...,nan,nan,book
31649,5,silent world of nicholas quinn,nan,morse inspector fictitious character drama,nan,nan,videocass
31650,12,big lebowski,nan,video recordings for the hearing impaired feat...,nan,nan,videodisc
31651,4,fables 3 storybook love bill willingham write...,willingham bill,fairy tales comic books strips etc graphic nov...,dc comics,2004,book
31652,2,illm higher command,nan,nan,nan,nan,mixed

In [56]:
from nltk.corpus import stopwords

In [57]:
sw = stopwords.words('english')

In [58]:
def stopwords(text):
    text = [word.lower() for word in text.split() if word.lower() not in sw]
    return " ".join(text)

In [59]:
data['Title'] = data['Title'].apply(stopwords)
data['Subjects'] = data['Subjects'].apply(stopwords)

test['Subjects'] = test['Subjects'].apply(stopwords)

In [60]:
print(data.nunique())

Checkouts             50
Title              31347
Creator             6726
Subjects           24753
Publisher           3340
PublicationYear      483
MaterialType           8
dtype: int64

In [61]:
#from textblob import TextBlob
#data['Subjects'].apply(lambda x: str(TextBlob(x).correct()))

In [62]:
#print(data.nunique())

In [63]:
import nltk

w_tokenizer = nltk.tokenize.WhitespaceTokenizer()
lemmatizer = nltk.stem.WordNetLemmatizer()
stemmer = PorterStemmer()

In [64]:
def pre(data):
    word = lemmatizer.lemmatize(data) 
    return word

In [65]:
data['Title'] = data['Title'].apply(pre)
data['Subjects'] = data['Subjects'].apply(pre)
test['Subjects'] = test['Subjects'].apply(pre)
test['Title'] = test['Title'].apply(pre)

In [66]:
print(data.nunique())

Checkouts             50
Title              31288
Creator             6726
Subjects           24750
Publisher           3340
PublicationYear      483
MaterialType           8
dtype: int64

In [67]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [68]:
tokenizer = nltk.data.load('tokenizers/punkt/english.pickle')

In [69]:
data["Subjects"] = data['Subjects'].replace('nan','')

In [70]:
data.head()

,Checkouts,Title,Creator,Subjects,Publisher,PublicationYear,MaterialType
0,1,tidal wave,nan,tsunamis tsunamis juvenile literature,nan,nan,book
1,1,london holiday richard peck,peck richard,,viking,1998,book
2,3,cinco de mayo celebrating hispanic pride carol...,gnojewski carol,cinco de mayo mexican holiday history juvenile...,enslow publishers,2002,book
3,1,annapolis,nan,war stories historical fiction domestic fictio...,nan,nan,book
4,1,man thinketh,nan,thought thinking,nan,nan,book

In [71]:
data["Final"] = data["Title"].map(str) + ' ' + data["Subjects"] 
test["Final"] = test["Title"].map(str) + ' ' + test["Subjects"]

In [72]:
data.head()

,Checkouts,Title,Creator,Subjects,Publisher,PublicationYear,MaterialType,Final
0,1,tidal wave,nan,tsunamis tsunamis juvenile literature,nan,nan,book,tidal wave tsunamis tsunamis juvenile literature
1,1,london holiday richard peck,peck richard,,viking,1998,book,london holiday richard peck
2,3,cinco de mayo celebrating hispanic pride carol...,gnojewski carol,cinco de mayo mexican holiday history juvenile...,enslow publishers,2002,book,cinco de mayo celebrating hispanic pride carol...
3,1,annapolis,nan,war stories historical fiction domestic fictio...,nan,nan,book,annapolis war stories historical fiction domes...
4,1,man thinketh,nan,thought thinking,nan,nan,book,man thinketh thought thinking

In [73]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.pipeline import FeatureUnion
from scipy.sparse import hstack, csr_matrix
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [74]:
from sklearn.preprocessing import LabelEncoder

columns = ['MaterialType']

#def encoder(df):
    for col in columns:
        label_encoder = LabelEncoder()
        label_encoder.fit(df[col])
        df[col] = label_encoder.transform(df[col])
    return df

data = encoder(data)
test = encoder(data)

In [75]:
x = data['Final']
w = test['Final']

In [76]:
vectorizer = CountVectorizer()
vectorizer.fit(x)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [77]:
vectorizer = CountVectorizer()
vectorizer.fit(w)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [78]:
W = vectorizer.transform(w)

In [79]:
X = vectorizer.transform(x)
print('Shape of Sparse Matrix: ', X.shape)
print('Amount of Non-Zero occurrences: ', X.nnz)
# Percentage of non-zero values
density = (100.0 * X.nnz / (X.shape[0] * X.shape[1]))
print('Density: {}'.format((density)))

Shape of Sparse Matrix:  (31653, 31097)
Amount of Non-Zero occurrences:  327380
Density: 0.03325973410737303

In [80]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, classification_report

In [81]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.001, random_state=100)
rfc = RandomForestClassifier(min_samples_split = 10, n_estimators = 200, verbose = 1, n_jobs = -1,warm_start = True)
rfc.fit(X_train, y_train)

# Testing the model
predictions = rfc.predict(X_test)
print(classification_report(y_test, predictions))

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:   18.0s
[Parallel(n_jobs=-1)]: Done 192 tasks      | elapsed:  1.3min
[Parallel(n_jobs=-1)]: Done 200 out of 200 | elapsed:  1.3min finished
[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:    0.0s
[Parallel(n_jobs=4)]: Done 192 tasks      | elapsed:    0.0s
[Parallel(n_jobs=4)]: Done 200 out of 200 | elapsed:    0.0s finished

              precision    recall  f1-score   support

        BOOK       0.96      1.00      0.98        24
   SOUNDDISC       1.00      1.00      1.00         4
   VIDEOCASS       0.50      0.50      0.50         2
   VIDEODISC       1.00      0.50      0.67         2

   micro avg       0.94      0.94      0.94        32
   macro avg       0.86      0.75      0.79        32
weighted avg       0.94      0.94      0.93        32

In [82]:
y_pred = rfc.predict(X_test)

[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:    0.0s
[Parallel(n_jobs=4)]: Done 192 tasks      | elapsed:    0.0s
[Parallel(n_jobs=4)]: Done 200 out of 200 | elapsed:    0.0s finished

In [83]:
from sklearn import metrics
print("lgbms Accuracy: ", metrics.accuracy_score(y_test, y_pred))

lgbms Accuracy:  0.9375

In [84]:
pred = rfc.predict(W)

[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:    0.3s
[Parallel(n_jobs=4)]: Done 192 tasks      | elapsed:    1.7s
[Parallel(n_jobs=4)]: Done 200 out of 200 | elapsed:    1.8s finished

In [59]:
submission = pd.DataFrame({
        "ID": test["ID"],
        "MaterialType": pred})

In [60]:
submission.to_csv('submission21.csv', index=False)